/***** cover *****/
.cover{
  width: 1184px;
  height: 740px;
  position: relative;

  background-image: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1210px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    height: 640px;
  }
}

@media screen and (max-width: 854px) {
  .cover {
    height: 480px;
  }
}

@media screen and (max-width: 644px) {
  .cover {
    height: 380px;
  }
}

@media screen and (max-width: 480px) {
  .cover {
    height: 280px;
  }
}

@media screen and (max-width: 350px) {
  .cover {
    height: 200px;
  }
}
