.lead__figure {
  margin: 64px auto 0;
  max-width: 984px;
  max-height: 637px;
}

@media screen and (max-width: 1152px) {
  .lead__figure {
    margin: 56px auto 0;
  }
}

@media screen and (max-width: 544px) {
  .lead__figure {
    margin: 40px auto 0;
  }
}
