.photo-grid__element {
  width: 284px;
  height: 213px;
}

@media screen and (max-width: 1278px) {
  .photo-grid__element {
    width: 300px;
    height: 225px;
  }
}

@media screen and (max-width: 1022px) {
  .photo-grid__element {
    width: 352px;
    height: 264px;
  }
}

@media screen and (max-width: 766px) {
  .photo-grid__element {
    width: 288px;
    height: 216px;
  }
}
